.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem 2rem;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 3, 3);
    transition: all 0.3s;
    z-index: 10;
}

.logo {
    height: 100%;
    width: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #050505;
}

.menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    transition: all 0.3s;
}

.link {
    list-style: none;
}

.link a {
    text-decoration: none;
}

.link a:hover {
    cursor: pointer;
    color: rgb(211, 199, 199)
}

.btn-primary {
    background-color: darkcyan;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: darkcyan;

}

/* Add styles for submenu */
.submenu {
    display: none;
    list-style: none;
    width: 8rem;
    position: absolute;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: whitesmoke;
    border-top: 3px solid blue;
    border-radius: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.sublink {

    padding: 0.5rem 0;
}

.link:hover .submenu {
    display: block;
}

.hamburger {
    display: none;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: rgb(13, 13, 13);
    margin: 2px;
    transition: all 0.3s ease-in-out;
}


@media (max-width:540px) {

    .navbar {
        display: inline-block;
        padding: 1rem;
        width: 100%;
        flex-direction: column;

    }

    .logo {
        padding: 0 2rem;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }



    .hamburger.active .bar:nth-child(1) {
        transform: rotate(-50deg) translateX(-9px);
        transition: all ease-out 0.5s;
    }

    .hamburger.active .bar:nth-child(2) {
        transform: scale(0.1);
        transition: all ease-out 0.5s;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(50deg) translateX(-9px);
        transition: all ease-out 0.5s;
    }

    .menu {

        visibility: hidden;
        display: none;
        opacity: 0;
        height: max-content;
        background-color: rgba(255, 255, 255);
        border-bottom-right-radius: 5px;
        padding-top: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transform: translateY(-100rem);
        transition: all 1.3s ease-in-out;
    }

    .menu.open {
        display: flex;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        z-index: 2;
        transition: all 1.3s ease-in-out;
    }

    .link {
        transition: 1000ms ease-in-out;
        margin-right: 2rem;
    }

    .registration {
        flex-direction: column;
        align-items: flex-start;
        margin-left: -1.5rem;
    }
}