.course-header {
    background-color: rgba(13, 14, 13, 0.662);
    background-image: url(../assets/coursepageimage.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100%;
    padding: 8rem 2rem;
    color: white;
}

.course-header h1 {
    font-size: 3rem;
    padding: 2rem 0;
}

.course-header-nav {
    display: flex;
    align-items: center;
}

.course-header-nav small {
    font-size: 1.8rem;
    padding: 0 0.3rem;
}

.course-details {
    min-height: 100%;
    max-width: 100%;
    display: flex;
    gap: 2rem;
    margin: -3rem 5rem 0;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.course-details-deshboard {
    width: 66.33%;
    flex: 0 0 auto;
    padding: 2.5rem 2rem;
    line-height: 1.5rem;
    border-radius: 0.2rem;
    background-color: var(--background-color-primary);
}

.course-details-deshboard h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.course-description {
    padding-bottom: 2rem;
}

.course-description h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.course-learn {
    padding: 1.9rem 1.9rem 0.6rem;
    background-color: rgb(245, 248, 255);
}

.course-learn h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.course-learn-text {
    display: flex;
    gap: 1rem;
}

.course-learn-text li {
    padding: 0.5rem 0;
}

.course-learn-text b {
    color: green;
    padding-right: 0.5rem;
}

.course-requirements {
    padding: 2rem 0;
}

.course-requirements h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.course-requirements li {
    list-style: initial;
    margin: 0.5rem 1rem;
}

.course-curriculam h3 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.course-curriculam>p:first-of-type {
    margin-bottom: 1.5rem;
}

.course-details-card {
    height: max-content;
    background-color: white;
    padding: 2rem 2em;
    box-shadow: 0 1px 2px rgba(106, 102, 102, 0.2);
    border-radius: 0.2rem;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.course-details-card img {
    width: 100%;
    height: 200px;
    transition: transform 0.3s ease;
}

.course-details-card img:hover {
    transform: scale(1.1);
}

.course-details-card a{
    width: max-content;
    margin: 2rem auto 0;
}

.course-details-price {
    display: flex;
    justify-content: space-between;
}

.course-details-price small {
    font-size: 1.4rem;
    margin: 1rem 1rem 0.5rem -1rem;
}

.course-details-price button{
    font-size: medium;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
}
.card-details {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.card-details span {
    display: flex;
    gap: 0.5rem;
    font-size: medium;
    font-weight: 350;
    align-items: center;
    padding: 0;
    background-color: white;
    color: var(--background-color-secondry);
}

.level {
    width: .8rem;
}

@media (max-width:720px) {
    .course-details {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 2rem 0;
    }

    .course-details-deshboard {
        width: 100%;
        padding: 1rem;
    }

    .course-learn {
        padding: 1.9 0;
    }

    .course-learn-text {
        flex-direction: column;
    }
}